{% extends 'base.html' %} {% block body %}

<h1> Calculator </h1>

<li><a rel="stylesheet" href="index.html">Home</a></li>
<li><a rel="stylesheet" href="about.html">About</a></li>
<li><a rel="stylesheet" href="estimate.html">Calculator</a></li>

<hr />
<h3>Input Numbers:</h3>
<form action="/estimate" method="POST">
	<label for="radius">Radius:</label>
	<input type="text" id="radius" name="radius" autofocus required />
	<br />
	<label for="height">Height:</label>
	<input type="text" id="height" name="height" />
	<br />
	<input type="submit" id="submit" value="Calculate">
	<input type="reset" value="Clear">
</form>
<br />
<br />

{% if quote %}
{{quote}}
{% endif %} {% endblock %}